.card-body-custom {
    padding: .5rem;
}

.datetime-event {
    padding: .2rem;
}

.location-event {
    padding: .2rem;
}

.evento-container {
    padding: 10px;
}

.btnSalvar {
    width: 100%;
}

/* Fix pro navbar fixed top não ficar por cima do conteúdo*/
body {
    padding-top: 60px;
    padding-bottom: 42px;
}


.spinner-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left:0;
    background: rgba(0, 0, 0, 0.13);
  }
  
  
.spinner {
    width: 4rem;
    height: 4rem;
    top:50%;
    left: 50%;
    position: absolute;
    border-radius:100%;
    border-top: 3px solid black;
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: rotation .8s linear infinite;
    
  }
  
  @keyframes rotation{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }


  