<div class="row" ng-controller="eventoInterna">
    
    <article class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
        <!--Card-->
        <div class="card">                        
            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
            <!--Card content-->
            <div class="card-body card-body-custom">
                <h4 class="card-title">{{ evento.nome }}</h4>
                
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-map-marker-alt"></i>
                        <span class="location-event"> Ruy Barbosa </span>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="float-right">
                            <i class="fa fa-calendar"></i> 
                            <span class="datetime-event"> 03/08/2018 14:00 às 18:30 </span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <p class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel laoreet sem. Phasellus non neque consectetur, tincidunt magna quis, finibus lorem. Donec tincidunt semper nisl eget ultricies. Vivamus pellentesque purus eget arcu faucibus efficitur. Quisque vestibulum, odio ac rhoncus consectetur, felis justo imperdiet nisi, at tempus quam massa quis nisi. Proin convallis posuere velit ac commodo. Nam consequat tincidunt augue pellentesque condimentum. Morbi ut elit rhoncus, vestibulum massa eget, egestas sapien. Suspendisse euismod et nunc vitae gravida.
                            
                            Pellentesque vel dignissim arcu, nec condimentum diam. Suspendisse consequat vitae urna ornare ultrices. Donec interdum metus eu vestibulum consequat. Morbi velit lorem, consectetur id mauris sed, semper scelerisque risus. Aliquam vel venenatis arcu. Fusce dignissim a ante at tincidunt. Praesent erat mauris, pretium et sem at, interdum feugiat enim. Ut vel laoreet ligula, quis tincidunt nibh. Morbi tempor ullamcorper lacus vitae suscipit. Mauris ex sem, varius porttitor semper vel, commodo ut risus. Mauris euismod ligula nibh. Quisque dictum commodo purus ac placerat. Vivamus lacus ipsum, rhoncus vel pulvinar sit amet, cursus sit amet orci.
                            
                        </p>
                    </div>
                </div>
            </div>
            
            
            <div class="row" style="padding:10px;">
                <div class="col-sm-12">
                    <form class="form-horizontal" name="inscricao_form" ng-controller="inscricao" ng-submit="submitForm()">
                        <fieldset>
                            
                            <!-- Form Name -->
                            <legend>Inscreva-se</legend>
                            <div class="alert alert-{{responseClass}} col-sm-12">
                                {{ inscricaoResposta }}
                            </div>
                            
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Nome</label>  
                                <div class="col-md-12">
                                    <input id="textinput" name="textinput" ng-model="dados.nome" type="text" placeholder="" class="form-control input-md" ng-required="true">
                                    
                                </div>
                            </div>
                            
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Email</label>  
                                <div class="col-md-12">
                                    <input id="textinput" name="textinput" type="text" ng-model="dados.email" placeholder="" class="form-control input-md" ng-required="true">
                                    
                                </div>
                            </div>
                            
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Telefone</label>  
                                <div class="col-md-12">
                                    <input id="textinput" name="textinput" type="text" ng-model="dados.telefone" placeholder="" class="form-control input-md" ng-required="true">
                                    
                                </div>
                            </div>
                            
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Matrícula</label>  
                                <div class="col-md-12">
                                    <input id="textinput" name="textinput" type="text" ng-model="dados.matricula" placeholder="" class="form-control input-md" ng-required="true">
                                    
                                </div>
                            </div>
                            
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">Faculdade</label>
                                <div class="col-md-12">
                                    <select id="selectbasic"  name="selectbasic" ng-model="selectedFacul" class="form-control" ng-options="instituicao.nome_faculdade for instituicao in instituicoes track by instituicao.id">
                                    </select>
                                </div>
                            </div>
                            
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">Curso</label>
                                <div class="col-md-12">
                                    <select id="selectbasic" name="selectbasic" ng-model="selectedCurso" class="form-control" ng-options="curso.nome for curso in cursos track by curso.id">
                                    </select>
                                </div>
                            </div>
                            
                            <!-- Button (Double) -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button ng-click="Submit" id="" name="button1id" class="btn btn-success btnSalvar">Inscrever</button>
                                </div>
                            </div>
                            
                        </fieldset>
                    </form>
                    
                    
                </div>
                
            </div>
            
        </div>
    </article>
    
    
</div>